.App {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #0084ff, #0000ff);
  border-radius: 15%;
}
